*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', Times, serif;
}

:root{
    --color-primary: #0c0c0c;
    --color-secondary: #aaa;
    --color-three: #e50914;
    --color-four: #ffffff;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--color-primary) !important;
    color: var(--color-four) !important;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header .brand-netflix{
    color: var(--color-three) !important;
    font-family: 'Arial Black', Times;
    font-size: 2.5rem;
}

header .menus li a{
    color: var(--color-secondary);
}

header .menus li a,.modal .btn-close,.slide-movie button,.section-list-movies img,.btn-back-to-top{
    transition: 0.3s;
}

header .menus li a:hover{
    color: var(--color-four);
}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
}

header nav .menus{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.slide-movie{
    display: grid;
    align-items: center;
    gap: 1rem;
    padding: 0 !important;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4) 100%), url('https://s3-sa-east-1.amazonaws.com/falauniversidades-wordpress-library/f5/fotos/3019_1604_Pauta_TextoImage.jpg');
    height: 35rem;
    background-size: cover;
}

.content-movie{
    display: grid;
    gap: 1.5rem;
    width: 70%;
}

.container{
    margin: 0 2rem;
}

.modal-content{
    background-color: #343434 !important;
}

.modal-content,.modal-header{
    border: none !important;
}

.modal .btn-close{
    position: absolute;
    font-size: 2rem;
    color: var(--color-four);
    border-radius: 5px;
    top: 0;
    right: 1rem;
    background: transparent;
    outline: none !important;
}

.modal .btn-close:hover{
    color: var(--color-four);
}

.modal iframe{
    width: 100%;
}

.slide-movie .title-movie{
    font-size: 2.5rem !important;
}

.slide-movie button:hover{
    cursor: pointer;
    opacity: 0.95;
}

.slide-movie .container-buttons button{
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-four);
}

.container-buttons button:hover{
    background-color: var(--color-four);
    color: var(--color-primary);
}

.container-buttons button span{
    margin-right: 5px;
}

button{
    border: none;
}

.section-list-movies{
    margin: 5rem 1rem;
}

.section-list-movies h3{
    margin: 1rem 0;
}

.section-list-movies img{
    width: 10rem;
    border-radius: 3px;
}

.section-list-movies img:hover{
    cursor: pointer;
    opacity: 0.85;
}

.container-list-movies{
    display: flex;
}

.btn-back-to-top{
    position: fixed;
    right: 20px;
    bottom: 15px;
    padding: 10px;
    z-index: 10;
    clip-path: circle();
    transform: translateY(100px);
    opacity: 0;
    background-color: var(--color-four);
}

.btn-back-to-top:hover{
    cursor: pointer;
}

.btn-back-to-top.show{
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 600px){
    header .container{
        flex-direction: column;
    }

    .container-buttons button{
        width: 20rem;
        margin: 0.2rem 0;
    }
}